<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title">Item detail</h5>

        <form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
          <div class="form-group required row">
            <label for="name" class="col-md-2 col-form-label">Name</label>
            <div class="col-md-10">
              <input class="form-control"
                     formControlName="name"
                     type="text"
                     required
                     [ngClass]="{'is-invalid': validateForm.get('name').dirty && validateForm.get('name').errors?.required, 'is-valid': validateForm.get('name').dirty && validateForm.get('name').valid }">
              <div *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors?.required" class="invalid-tooltip">
                Please choose a unique and valid name.
              </div>
            </div>
          </div>
          <div class="form-group required row">
            <label for="value" class="col-md-2 col-form-label">Value</label>
            <div class="col-md-10">
              <input class="form-control"
                     formControlName="value"
                     type="number"
                     required
                    [ngClass]="{'is-invalid': validateForm.get('value').dirty && validateForm.get('value').errors?.required, 'is-valid': validateForm.get('value').dirty && validateForm.get('value').valid }">
              <div *ngIf="validateForm.get('value').dirty && validateForm.get('value').errors?.required" class="invalid-tooltip">
                Please choose any value.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="comment" class="col-md-2 col-form-label">Comment</label>
            <div class="col-md-10">
              <input class="form-control"
                     formControlName="comment"
                     type="text"
                     [ngClass]="{'is-valid': validateForm.get('comment').dirty && !!validateForm.get('comment').value }">
            </div>
          </div>
          <div class="btn-group float-right" role="group">
            <button type="button" class="btn btn-secondary mr-2" (click)="onCancel()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
