main {
  padding: 3rem 0;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  &.active {
    color:white !important;
  }
}
div.nav-link {
  margin-top: 5px;
  &:hover {
  color: rgba(255, 255, 255, 0.5) !important;
  }
}

a.nav-link {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  font-size: 1.2em;

  &:hover {
    color: white;
    cursor: pointer;
  }
}
