.card {
  .card-header button {
    float: right;
    margin-right: 10px;
  }
  .card-body {
    padding-right: 15px;
    padding-left: 15px;
    td > a {
      cursor: pointer;
      i {
        color: red;
      }
    }

    tr > th:last-child,
    tr > td:last-child {
      text-align: center;
    }
  }
}

::ng-deep .popover-body .modal-footer {
  margin-top: .75rem;
  padding: .5rem 0 0 0;
  button {
    font-size: 13px;
    padding: 4px 8px;
    margin: 2px;
  }
}
