<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-primary" routerLink="/item-detail/new">Add Item</button>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Value</th>
              <th scope="col">Commnent</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items | async">
              <th scope="row"><a [routerLink]="'/item-detail/' + item.refId">{{item.name}}</a></th>
              <td>{{item.value}}</td>
              <td>{{item.comment}}</td>
              <td>
                <a [ngbPopover]="popContent" [autoClose]="false" triggers="manual" #pop="ngbPopover" (click)="pop.open()" placement="left">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </a>

                <ng-template #popContent>
                    Are you sure you want to delete '{{item.name}}'?
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" (click)="pop.close()">Cancel</button>
                    <button type="button" class="btn btn-danger" (click)="popClose(pop, item.refId)">Ok</button>
                  </div>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
