.card {
  .card-header button {
    float: right;
    margin-right: 10px;
  }
  .card-body {
    padding-right: 15px;
    padding-left: 15px;
    td > a {
      cursor: pointer;
      i {
        color: red;
      }
    }

    tr > th:last-child,
    tr > td:last-child {
      text-align: center;
    }
  }
}
